<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/sign-in.css">
        <title>595G Admin Login</title>
    </head>
    <body>
        <main role="main" class="flex-shrink-0">
            <div class="container">
                <h1 class="mt-5">Welcome to the Elastic Cryptography Bot!</h1>
                <p class="lead">Want to encrypt something with our AES key? Just send a POST to /encrypt with a form parameter named "message" to have your message pasted into our Custom Template&trade; format!</p>
            </div>
        </main>
    </body>
</html>
